body, html{
  font-family: Lato, sans-serif;
  color:#666;
  line-height: 1.5;
}

* {
  padding:0;
  margin:0;
  overflow:hidden;
}

p {
  margin: 2rem 0;
  font-size: 2rem;
  /* font-weight: 600; */
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

i {
  color: #111;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align:center;
}

.section-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 0 4rem;
}

.nav {
  width: 100%;
  background: rgba(0,0,0,0.3);
  position: fixed;
  z-index: 2;
}

.nav ul {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  max-width: 1100px;
}

.nav li {
  flex: 1;
  padding: 0.75rem 1rem;
  text-align: center;
}

.nav a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.btn p,
.btn a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #111;
}

.light-text p{
  color: #f4f4f4;
}

.section#showcase{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img_lowres/showcase.jpg");
}

.section#vehicles{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img_lowres/crane2.jpg");
}

.section#operators{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img_lowres/operator.jpg");
}

.section#discount{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img_lowres/cargo.jpg");
}

.section#contacts{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img_lowres/machinery.jpg");
}

@media (max-width: 600px) {
  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    padding: 0.5rem 1rem;
  }

  .nav ul li a {
    font-size: 1.4rem;
  }

  .section-content .light-text {
    margin-top: 3rem;
  }
}

@media (min-width: 2600px) {
  .section#showcase{
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/showcase.jpg");
  }

  .section#vehicles{
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/crane2.jpg");
  }

  .section#operators{
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../img/operator.jpg");
  }

  .section#discount{
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/cargo.jpg");
  }

  .section#contacts{
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/machinery.jpg");
  }
}
